@import "./tailwind.css";
@import "./typeset.scss";
// @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap");

/* html {} 16px */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  font-size: 18px;
  overflow-x: hidden;
  // background: #F1F5F9;
  // background: #fcfcfc;
  --tw-bg-opacity: .3;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
}

.nav-background-shade{
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 243, 234, 1) 100%
  );
}

#hero-section {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 243, 234, 1) 100%
  );


  @media only screen and (min-width: 1536px) and (max-width:1750px) {
  
    .active-button-position{
      left: -7vw;
    }
    // top:68.5vw
  }
  @media only screen and (min-width: 1441px) {
    img.hero-img {
      transform: scale(1.25);
      transform-origin: bottom left;
    }
  }
  @media only screen and (max-width: 1440px) {
    img.hero-img {
      transform: scale(1.5);
      transform-origin: bottom right;
    }
  }
  @media only screen and (max-width: 1024px) {
    img.hero-img {
      transform: scale(1);
      transform-origin: bottom;
    }
  }
}

#online-chat-section {
  div.doctor-img-background {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 28%,
      rgba(163, 197, 228, 1) 91%
    );
  }
}
#faq-section {
  div.rounded-div-background {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 26%,
      rgba(244, 124, 140, 1) 82%
    );
  }
}


.date-tag-position{
 
  top:59.5vw;
  @media only screen and (min-width: 320px) and (max-width:380px) {
   
     top:clamp(63.5vw,64.5vw,69.5vw);
  }
  @media only screen and (min-width: 381px) and (max-width:419px) {
  
    top:68.5vw
  }
  @media only screen and (min-width: 420px) and (max-width:500px) {
    
     top:clamp(63vw,70.5vw,max(72.5vw,15rem));
  }
  @media only screen and (min-width: 501px) and (max-width:767px) {
    top: 365px;
  }
  @media only screen and (min-width: 768px) and (max-width:868px) {
    top: calc( 22vw);
  }
  @media only screen and (min-width: 869px) and (max-width:949px) {
    top: calc( 22.5vw);
  }
  @media only screen and (min-width: 950px) and (max-width:1023px) {
    top: calc( 24vw);
  }
  // @media only screen and (min-width: 850px) {
  //   top: calc( 23vw);
  // }
  @media only screen and  (min-width: 1024px) and (max-width:1100px)  {
    top: calc(1% + 24vw);
  }
  @media only screen and  (min-width: 1101px) and (max-width:1179px)  {
    top: 24.5VW;
  }
  @media only screen and  (min-width: 1180px) and (max-width:1279px)  {
    top: 25VW;
  }
 
  @media only screen and (min-width: 1280px) {
    top: 315px;
  }
  @media only screen and (min-width: 1536px) {
    top: 370px;
  }
 
}

